@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<style>
    h2{
    text-shadow: -1.5px 0 #336600, 0 1.5px #336600, 1.5px 0 #336600, 0 -1.5px #336600;
    color:white;
    padding: 50px;
    text-align: center;
}

</style>
<h1>@ViewData["Title"]</h1>

<h2>✉ Trixie Anne David</h2>
<h2>📞 0999-999-9999</h2>
<h2>📧 trixiedavid@gmail.com</h2>