@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    h2{
    text-shadow: -1.5px 0 #336600, 0 1.5px #336600, 1.5px 0 #336600, 0 -1.5px #336600;
    color:white;
    padding: 50px;
    text-align: center;
}</style>
<h1>@ViewData["Title"]</h1>

<h2>This user is too lazy to type site's privacy policy.</h2>
